.section-4 {
  #gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 50px;
  }

  .thumbnail {
    width: 100%;
    height: auto;
    border-radius: 8px;
    border: 1px solid #525252;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.7);

    img {
      max-width: 70%;
      max-height: 70%;
    }

    .close-btn {
      position: absolute;
      top: 10px;
      right: 20px;
      font-size: 30px;
      color: #ffffff;
      background: transparent;
      border: none;
      cursor: pointer;
    }
  }
}
