.section-first-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .section-first-btns-container {
    #text {
      font-size: 25px;
    }
    #red {
      background-color: red;
      color: white;
    }
    #green {
      background-color: green;
      color: white;
    }
    #blue {
      background-color: blue;
      color: white;
    }
    button {
      padding: 10px 20px;
      margin: 5px;
      border: none;
      cursor: pointer;
      font-size: 16px;
      border-radius: 8px;
    }
  }
}
